body {
    background-color: powderblue;
    font-family: Courier;
}
p {
    border: 1px solid red;
    padding: 15px ;
}
#p01 {
    border: 3px solid dodgerblue;
    padding: 15px ;
}
.test {
    color: limegreen;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 5px solid red;
    width: 50%;
}
td, th {
    border: 1px solid red;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: black;
    color: white;
}
iframe {
    background-color: white;
}
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
nav {
    float: left;
    width: 33%;
    background: #ccc;
    height: 300px;
}
nav ul {
    list-style-type: none;
    padding: 10;
}
article {
    float: left;
    width: 67%;
    background-color: #f1f1f1;
    height: 300px;
}
section:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
} 
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}